#bio {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

#achievements {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

#skills {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}